/* reset.css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom */


:root {
	--dark-bg-primary: #303030;
	--dark-bg-secondary: #424242;
	--dark-bg-button: #777777;
	--dark-text-primary: #fff;
	--dark-text-secondary: rgba(255, 255, 255, 0.7);
	--dark-text-disabled: rgba(255, 255, 255, 0.5);
	--dark-bg-darkest: #101010;
  }

body{
	background-color: #ddd;
}

#m, #send-button {
	border: none;
	border-radius: 5px;
	padding: 10px;
}
#m{
	margin: 15px 0 15px 15px;
}
#send-button{
	margin: 15px;
	background-color: var(--dark-bg-button);
	color: var(--dark-text-primary);
}

.darkmode-css{
	color: var(--dark-text-secondary);
}
.darkmode-css .header a{
	color: var(--dark-text-secondary) !important;
}
body.darkmode-css{
	background-color: var(--dark-bg-primary);
}
.darkmode-css .header{
	background-color: var(--dark-text-disabled);
}
.darkmode-css #subContents{
	background-color: var(--dark-bg-secondary);
}
.darkmode-css #m {
	background-color: var(--dark-text-secondary);
}
.darkmode-css #send-button {
	background-color: var(--dark-bg-darkest);
	border: none;
	color: var(--dark-text-secondary);
}
.darkmode-css .darkmode-icon{
	color: var(--dark-bg-darkest);
}

.darkmode-wrapper{
	padding:5px;
	border-radius:15px;
	background-color: #ccc;
	width: 40px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
  }
  
  #darkmode-toggleButton {
	width: 20px;
	height: 20px;
	background-color: #888;
	border-radius:50%;
  }
  
  .moveToRight{
	margin-left:20px;
	background-color: var(--dark-bg-secondary) !important;
  }
  
  #darkmode-toggleButton {
	transition:0.5s ease;  
  }

  .darkmode-icon{
	  position: absolute;
	  top: 13px;
	  right: 65px;
	  color: #666;
  }